<div class = "Profile">
    <form >
        <label for="firstName">First name :</label>
        <p>{{profile.user.firstName}}</p>
       <label for="lastName">Last name: </label>
        <p>{{profile.user.lastName}}</p>
        <label for="email">Email: </label>
        <p>{{profile.user.email}}</p>
        <label for="username">Username:</label>
        <p>{{profile.user.username}}</p>
        <label for="dateOfBirth">Date of birth:</label>
        <p>{{profile.user.dateOfBirth}}</p>
        <label for="experience">Experience </label>
        <ul>
            <li ng-repeat="experience">{{profile.experience}}</li>
        </ul>
        <label for="education">Education </label>
        <ul>
            <li ng-repeat="education">{{profile.education}}</li>
        </ul>
        <label for="interests">Interests</label>
        <ul>
            <li ng-repeat="interests">{{profile.interests}}</li>
        </ul>
        <label for="skills">Skills </label>
        <ul>
            <li ng-repeat="skills">{{profile.skills}}</li>
        </ul>
        <label for="privateProfile">Profil is:</label>
        <p>{{profile.privateProfile}}</p>
        <br>
        <button class="btn btn-success" (click)="followProfile()">Follow</button>
       
        
    </form>
</div>

<div class="container" *ngIf="
profile.privateProfile">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Profiles that want to follow you</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of followRequests">
                <td>{{f.usernameWhoWantToFollow}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container" *ngIf="!profile.privateProfile">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ownerId</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td>{{post.ownerId}}</td>
                <td>{{post.text}}</td>
            </tr>
        </tbody>
    </table>
</div>