<div class = "Profile">
    <form >
        <label for="firstName">First name :</label>
        <p>{{profile.user.firstName}}</p>
       <label for="lastName">Last name: </label>
        <p>{{profile.user.lastName}}</p>
        <label for="email">Email: </label>
        <p>{{profile.user.email}}</p>
        <label for="username">Username:</label>
        <p>{{profile.user.username}}</p>
        <label for="dateOfBirth">Date of birth:</label>
        <p>{{profile.user.dateOfBirth}}</p>
        <label for="experience">Experience </label>
        <ul>
            <li ng-repeat="experience">{{profile.experience}}</li>
        </ul>
        <label for="education">Education </label>
        <ul>
            <li ng-repeat="education">{{profile.education}}</li>
        </ul>
        <label for="interests">Interests</label>
        <ul>
            <li ng-repeat="interests">{{profile.interests}}</li>
        </ul>
        <label for="skills">Skills </label>
        <ul>
            <li ng-repeat="skills">{{profile.skills}}</li>
        </ul>
        <label for="privateProfile">Profil is:</label>
        <p>{{profile.privateProfile}}</p>
        <label for="numberOfFollowers">Follower number:</label>
        <p>{{numberOfFollowers}}</p>
        <!--<button class="btn btn-success" (click)="listOfFollowers()">See list of followers</button>-->
        <br>

       

       

        <button class="btn btn-success" (click)="followProfile()" *ngIf="showFollowButton() && showFollowButtonForLoginUser">Follow</button>
        <button class="btn btn-success" *ngIf="showSendRequestButtonForLoginUser">Follow request sent</button>
        <button class="btn btn-success" (click)="seeAllFollowers()">See all followers</button>

        
    </form>
</div>
<div class="container" *ngIf="showFollowers">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Profiles that follow you</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of listOfFollowers1">
                <td>{{l.username}}</td>
                <td><button class="btn btn-success" (click)="blockUser()">Block</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container" *ngIf="profile.privateProfile && !showFollowButton()">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Profiles that want to follow you</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of followRequests">
                <td>{{f.usernameWhoWantToFollow}}</td>
                <td><button class="btn btn-success" (click)="acceptRequest(f)">Accept</button></td>
            </tr>
        </tbody>
    </table>
</div>


<div class="container" *ngIf="!showFollowButton()">
    <label>Create post</label>
    <button class="btn btn-success" (click)="createPostPage()">Create</button>
</div>

<div class="container" *ngIf="(!profile.privateProfile || !showFollowButton() || showPostsOnPrivateProfile()) ">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ownerId</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td>{{post.ownerId}}</td>
                <td>{{post.text}}</td>
                <td><img src = "{{post.picture}}" style="height: 50px; border-radius: 50px;"></td>
                <button (click)="likePost(post)">
                    <mat-icon>thumb_up</mat-icon>Like
                  </button>
                <td>{{post.numberOfLikes}}</td>
                <button (click)="dislikePost(post)">
                    <mat-icon>thumb_down</mat-icon>Dislike
                </button>
                <td>{{post.numberOfDislikes}}</td>
                <button  (click)="addComent(post.id)">
                    <mat-icon> comment</mat-icon>Comment
                </button>
            </tr>
        </tbody>
    </table>
</div>