<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div class = "Profile">
    <form >
     
        <label for="firstName">First name :</label>
       <!-- <p>{{profile.user.firstName}}</p> -->
       <div class="form-group text-center">
        <input [(ngModel)]="profile.user.firstName" id="name" name="name" type="text" class="from-control">
      </div> 

       <label for="lastName">Last name: </label>
      <!--<p>{{profile.user.lastName}}</p>-->  
      <div class="form-group text-center">
        <input [(ngModel)]="profile.user.lastName" id="lastName" name="lastName" type="text" class="from-control">
      </div>
        <label for="email">Email: </label>
        <!--<p>{{profile.user.email}}</p> -->
        <div class="form-group text-center">
            <input [(ngModel)]="profile.user.email" id="email" name="email" type="text" class="from-control">
          </div>
        <label for="username">Username:</label>
        <!--<p>{{profile.user.username}}</p> -->
        <div class="form-group text-center">
            <input [(ngModel)]="profile.user.username" id="username" name="username" type="text" class="from-control">
          </div>
        <label for="dateOfBirth">Date of birth:</label>
        <!--<p>{{profile.user.dateOfBirth}}</p> -->
        <div class="form-group text-center">
            <input [(ngModel)]="profile.user.dateOfBirth" id="dateOfBirth" name="dateOfBirth" type="text" class="from-control">
          </div>
        
        <label for="experience">Experience </label>
           <div >
       <input  [(ngModel)]="listsOfExperiance"  id="experience" name="experience"  type="text" >
    </div>
    
       <label for="education">Education </label>
       <div >
        <input  [(ngModel)]="listsOfEducation"  id="education" name="education"  type="text" >
     </div>

     <label for = "skills"> Skills</label>
     <div>
      <input [(ngModel)] = "listsOfSkills" id = "skills" name = "skills" type="text">
     </div>


     <label for = "interests">Interests </label>
     <div>
      <input [(ngModel)] = "listsOfInterests" id = "interests" name = "interests" type="text">
     </div>
        
          
       
      
          
           


       
        
        <label for="isPrivate">Profil is:</label>
        <!--<p>{{profile.isPrivate}}</p> -->
        <div class="form-group text-center">
            <input [(ngModel)]="profile.privateProfile" id="privateProfile" name="privateProfile" type="text" class="from-control">
          </div>
        <br>
       </form>
</div>

<button class="btn btn-success" (click)="  UpdateProfile()">UpdateProfile</button>

</html>




