<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<div class = "post-input">
    <form >
        <!--<label for="ownerId">Owner ID :</label><br/>
        <input name="ownerId" id="ownerId" type="text" [(ngModel)]="postToAdd.ownerId"><br/>-->
        <label for="text">Text:</label><br/>
        <input id="text" name="text" [(ngModel)]="postToAdd.text"><br/>
        <br>
        <label>Picture:</label>
          <input id="image" type="file" (change)="onFileChanged($event)">
          <button class="btn btn-success" (click)="backToProfile()">Back to profile</button>
          <button id="upload_button" class="btn btn-success" (click)="onUpload()">Upload</button>
        <button class="btn btn-success" (click)="savePost()">save</button>
    </form>
</div>
<div>
  <table class="table table-striped ">
      <thead>
          <tr>
              <th>OwnerId</th><th>Text</th><th>Likes</th><th>Dislikes</th><th>Comments</th>
          </tr>
      </thead>
      <tbody >
    <tr  *ngFor="let post of posts"  >  
              <td>{{post.ownerId}}</td><td>{{post.text}}</td><td>{{post.userIdWhoLikes}}</td><td>{{post.userIdWhoDislikes}}</td><td>{{post.comments}}</td>
          </tr>
  </tbody>
  </table>
</div>