button {
    font-size: 1.5em;
    margin: 5px;
  }

.post-input {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

#ownerId{
    margin: auto;
    display: block;
}

#text{
    margin: auto;
    display: block;
}