<mat-toolbar color="primary" class="mat-elevation-z6">
 <span><mat-icon>eco</mat-icon>Dislinkt</span>
 
 <div class = "spacer"></div>

 <a mat-button>Home</a>
 <a mat-button routerLink="all_jobs">JobOffers</a>
 <a mat-button routerLink="find_profile_update">Update profile</a>
 <a mat-button routerLink="all_profiles">Search profile</a>
 <a mat-button>Profiles </a>
 <a mat-button routerLink="registration">Registration</a> 
 <a mat-raised-button color="accent" routerLink="login">Log in</a>
 
</mat-toolbar>
