<div class="container" >

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ownerId</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td>{{post.ownerId}}</td>
                <td>{{post.text}}</td>
                <td><img src = "{{post.picture}}" style="height: 50px; border-radius: 50px;"></td>
                <button (click)="likePost1(post)">
                    <mat-icon>thumb_up</mat-icon>Like
                  </button>
                <td>{{post.numberOfLikes}}</td>
                <button (click)="dislikePost1(post)">
                    <mat-icon>thumb_down</mat-icon>Dislike
                </button>
                <td>{{post.numberOfDislikes}}</td>
               <button  (click)="addComent(post.id)">
                    <mat-icon> comment</mat-icon>Comment
                </button>
            </tr>
        </tbody>
    </table>
</div>