
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<head>
    <title>Home Page</title>
    <meta charset="utf-8"/>
</head>


<label for="username">Enter Username :</label><br/>
<input name = "username" id = "username" type = "text" [(ngModel)] = "username"><br>

<label for="Password">Enter Password:</label><br/>
<input name = "password" id = "password" type = "password"><br>



<button class="btn btn-success" (click)="FindProfileByUserPass()">Search</button>
